:root {
    --softorange:hsl(35, 77%, 62%);
    --softred:hsl(5, 85%, 63%);
    --offwhite:hsl(36, 100%, 99%);
    --gray:hsl(233, 8%, 79%);
    --darkgray:hsl(236, 13%, 42%);
    --verydark:hsl(240, 100%, 5%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: "Inter", sans-serif;
    padding: 9.6rem 10rem;
    overflow-x: hidden;
}

/* Header Styling */

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list{
    display: flex;
    gap: 3.9rem;
    font-size: 1.6rem;
    align-items: center;
    list-style: none;
}

.nav-list a{
    text-decoration: none;
    color: var(--darkgray);
    transition: all 0.3s ease-in;
    position: relative;
}

.nav-list a:hover{
    color: var(--softorange);
}

.nav-list a::before {
    content: '';
    position: absolute;
    bottom: -1rem;
    left: 0;
    width: 0%;
    height: 0.3rem;
    background-color: #333;
    transition: all 0.5s;
}

.nav-list a:hover::before {
    width: 100%;
}

.mobile-nav-icon {
    width: 4rem;
    height: 4rem;
    font-weight: 700;
    cursor: pointer;
}

.mobile-nav-btn {
    display: none;
    background: transparent;
    cursor: pointer;
}

.mobile-nav-icon[name ="close-outline"] {
    display: none;
}

/* Main Content Styling */

.main-flex {
    margin-top: 5.5rem;
    margin-bottom: 7.2rem;
    display: flex;
    gap: 3rem;
}

.grid-content {
    max-width: 70rem;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* 1st column of grid content */

.hero-image {
    grid-column: 1/4;
    margin-bottom: 3.1rem;
}

.hero-image img{
    width: 710px;
    height: 300px;
}

/* 2nd column of grid content */

.hero-head {
    font-size: 3rem;
    line-height: 1;
    color: var(--verydark);
}

/* 3rd column of grid content */
.hero-para {
    grid-column: -3/-1;
}

.hero-para p{
    color: var(--darkgray);
    font-size: 1.6rem;
    line-height: 1.7;
}

.btn-primary {
    margin-top: 3.5rem;
    border: none;
    background-color: var(--softred);
    color: var(--offwhite);
    text-transform: uppercase;
    padding: 2rem 4.6rem;
    transition: all 0.5s;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: var(--verydark);
}

/* Side flex-box styling */

.flex-box-side {
    background-color: var(--verydark);
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
}

.side-head {
    font-size: 3.9rem;
    color: var(--softorange);
    margin-bottom: 2.5rem;
}

.flex-column:nth-child(3) {
    margin: 2.5rem 0;
}

.box-head-side{
    color: var(--offwhite);
    font-size: 2rem;
    margin-bottom: 1.2rem;
    cursor: pointer;
    transition: all 0.5s;
}

.box-head-side:hover {
    color: var(--softorange);
}

.box-para-side{
    font-size: 1.4rem;
    line-height: 1.8;
    color: var(--gray);
}

.line{
    margin: 3rem 0;
    border: 1px solid var(--darkgray);
}

/* 3 column grid styling */

.grid-3-col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.9rem;
}

.box-image img{
    width: 100px;
}

.boxes {
    display: flex;
    gap: 2rem;
}

.box-head {
    font-size: 3.2rem;
    color: var(--gray);
    font-weight: 700;
    margin-bottom: 0.9rem;
}

.box-title {
    font-size: 1.6rem;
    color: var(--verydark);
    font-weight: 700;
    margin-bottom: 1.2rem;
    transition: all 0.5;
    cursor: pointer;
}

.box-title:hover {
    color: var(--softorange);
}

.box-para {
    font-size: 1.5rem;
    color: var(--darkgray);
    line-height: 1.4;
}

/* Media queries at mini laptops*/

@media (max-width:64em) {
    body {
        padding: 4rem 5rem;
    }
    .main-flex {
        max-width: 100rem;
    }

    .grid-content {
        max-width: 55rem;
    }

    .hero-head {
        font-size: 2.5rem;
    }
    
    .hero-para p {
        font-size: 1.2;
        line-height: 1.4;
    }

    .btn-primary {
        margin-top: 2rem;
        padding: 1.9rem 4rem;
    }

    .box-para {
        font-size: 1.2rem;
    }
}

@media (max-width: 40em) {

    body {
        padding: 2rem;
        width: 100%;
    }

    .main-flex {
        flex-direction: column;
    }

    .grid-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hero-head {
        font-size: 2rem;
    }

    .hero-para{
        margin: 2rem 0;
    }

    .grid-3-col {
        grid-template-columns: 1fr;
    }

    .mobile-nav-btn {
        display: block;
        z-index: 999;
        border: 3px solid #333;
    }

    .nav-bar {
        width: 50%;
        height: 100vh;
        background-color: var(--offwhite);
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        padding: 0 2rem;
        align-items: center;

        /* To get the transition */

        transform: translateX(100%);
        transition: all 0.5s linear;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .nav-list {
        flex-direction: column;
    }

    .active .nav-bar {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .active .mobile-nav-btn .mobile-nav-icon[name = "close-outline"]{
        display: block;
    }

    .active .mobile-nav-btn .mobile-nav-icon[name = "menu-outline"]{
        display: none;
    }
}

