:root {
    --softorange:hsl(35, 77%, 62%);
    --softred:hsl(5, 85%, 63%);
    --offwhite:hsl(36, 100%, 99%);
    --gray:hsl(233, 8%, 79%);
    --darkgray:hsl(236, 13%, 42%);
    --verydark:hsl(240, 100%, 5%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Inter", sans-serif;
    padding: 9.6rem 10rem;
}

/* Header Styling */

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list{
    display: flex;
    gap: 3.9rem;
    font-size: 1.6rem;
    align-items: center;
    list-style: none;
}

.nav-list a{
    text-decoration: none;
    color: var(--darkgray);
    transition: all 0.3s ease-in;
    position: relative;
}

.nav-list a:hover{
    color: var(--softorange);
}

.nav-list a::before {
    content: '';
    position: absolute;
    bottom: -1rem;
    left: 0;
    width: 0%;
    height: 0.3rem;
    background-color: #333;
    transition: all 0.5s;
}

.nav-list a:hover::before {
    width: 100%;
}

.mobile-nav-icon {
    width: 4rem;
    height: 4rem;
    font-weight: 700;
}

.mobile-nav-btn {
    display: none;
    background: transparent;
    cursor: pointer;
}

.mobile-nav-icon[name ="close-outline"] {
    display: none;
}

/* Main Content Styling */

